.mg5001-button-style{
	margin-top: 0px !important;
	margin-bottom: 10px;
}

#content {
	margin: auto;
}

.last-button-style{
	padding-right: 4.2%;
}

.ui-column-center{
	text-align: center;
	
}
.MG5001003-width{
	width: 90%;
	margin-left: 5%!important;
}

.MG5001002-width{
	width: 90%;
	margin-left: 5%!important;
}

.margin-left{
	margin-left: 5%;
}

.margin-top{
	margin-top: 5px;
}