<!DOCTYPE html>
<ui:composition {style_composition_first}
                {xmlns_lib_define}>

    {title_form_content}

    <ui:define name="stylesheet">
        {css_include_content}
        <!-- <h:outputStylesheet library="acc_css" name="*.css" /> -->
    </ui:define>

    <ui:define name="script">
        {js_include_content}
        <!-- <h:outputScript library="acc_js" name="*.js" /> -->
    </ui:define>

    <ui:define name="content">
        <div class="p-grid p-nogutter p-align-center p-justify-center" style="height:374px;width:517px;">
            <h:form id="{form_id_content}">
                {form_content}
            </h:form>
        </div>
    </ui:define>
</ui:composition>

